$primary    : #777;
$secondary  : #ddd;
$accent     : #1D4E89;
$clear      : #FFF;
$smooth     : #ddd;
$strong     : #333;

$font-primary   : "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary : "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-accent    : "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-text      : "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;