<!doctype html>
<html class="no-js" lang="">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <main>
            <div class="list">
                <div class="list__row">
                    <div class="list__icon">
                        <span class="icon shopping icon-bag"></span>
                    </div>
                    <div class="list__description">
                        <p class="description shopping">Shampoo</p>
                        <p class="label">Compras</p>
                    </div>
                    <div class="list__status">
                        <p class="status">pendente</p>
                    </div>
                    <div class="list__actions">
                        <a class="action" href="">ver</a>
                    </div>
                </div>
                <div class="list__row">
                    <div class="list__icon">
                        <span class="icon shopping icon-bag"></span>
                    </div>
                    <div class="list__description">
                        <p class="description shopping">Shampoo</p>
                        <p class="label">Compras</p>
                    </div>
                    <div class="list__status">
                        <p class="status">pendente</p>
                    </div>
                    <div class="list__actions">
                        <a class="action" href="">ver</a>
                    </div>
                </div>
                <div class="list__row">
                    <div class="list__icon">
                        <span class="icon tasks icon-list"></span>
                    </div>
                    <div class="list__description">
                        <p class="description tasks">Site Go Toy</p>
                        <p class="label">Tarefas</p>
                    </div>
                    <div class="list__status">
                        <p class="status">pendente</p>
                    </div>
                    <div class="list__actions">
                        <a class="action" href="">ver</a>
                    </div>
                </div>
                <div class="list__row">
                    <div class="list__icon">
                        <span class="icon payments icon-credit-card"></span>
                    </div>
                    <div class="list__description">
                        <p class="description payments">Televisão nova</p>
                        <p class="label">Pagamentos</p>
                    </div>
                    <div class="list__status">
                        <p class="status">pendente</p>
                    </div>
                    <div class="list__actions">
                        <a class="action" href="">ver</a>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>
