<!doctype html>
<html class="no-js" lang=""> <!--<![endif]-->
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>

        <%- body %>
        
        <%- include('../partials/footer') %>
    </body>
</html>
